<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - INL - USCGA</title>
    <link rel="icon" type="image/gif" sizes="400x400" href="{{ url_for('static', filename='assets/img/art/dumpster_fire.gif') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Nunito.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/untitled.css') }}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-car-crash"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Garbage-can</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link {% block table_active %}{% endblock %}" href="{{ url_for('main.table') }}"><i class="fas fa-table"></i><span>Messages</span></a></li>
                    <li class="nav-item"><a class="nav-link {% block command_active %}{% endblock %}" href="{{ url_for('main.command') }}"><i class="fas fa-terminal"></i><span>Command</span></a></li>
                    <li class="nav-item"><a class="nav-link {% block exfil_active %}{% endblock %}" href="{{ url_for('main.exfil') }}"><i class="fas fa-download"></i><span>Exfiltrate</span></a></li>
                    <li class="nav-item"><a class="nav-link {% block interface_active %}{% endblock %}" href="{{ url_for('main.interface') }}"><i class="fas fa-keyboard"></i><span>Interfaces</span></a></li>
                    <li class="nav-item"><a class="nav-link {% block cant_active %}{% endblock %}" href="{{ url_for('main.cant') }}"><i class="fas fa-code"></i><span>CANT</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}"><i class="far fa-user-circle"></i><span>Log Out</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="For Future Use..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                        </form>
                    </div>
                </nav>
                
                <!-- Custom content for page begins -->
                {% block content %}
                {% endblock %}
                <!-- Custom content for page ends -->

            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>USCGA 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
</body>

</html>
